@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* globals */
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900 !important;
}
a {
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 800;
}
section {
  padding-top: 80px;
  padding-bottom: 80px;
  z-index: 2;
  position: relative;
}
.row img {
  width: 100%;
}
/* nav */
.navbar {
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  background: linear-gradient(to left, #00e0fe, #1107fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Hero */
.bg-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/cover.jpg);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(17, 7, 254, 0.7), rgba(0, 224, 254, 0.7));
  z-index: -1;
}

/* Button */
.btn {
  padding: 14px 22px;
  transition: all 0.4s ease;
}
.btn-main {
  background: linear-gradient(to left, #00e0fe, #1107fe);
  border-radius: 100px;
  border: none;
  font-weight: 600;
  color: #fff;
}
.btn:hover {
  color: #fff;
  transform: translateY(-5px);
}

.video-btn {
  width: 60px;
  height: 60px;
  background: linear-gradient(to left, #00e0fe, #1107fe);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 100px;
}
.video-btn img {
  width: linear-gradient(to left, #00e0fe, #1107fe);
}
.video-btn:hover {
  background: #fff;
  color: #fff;
}
/* Intro */
.section-intro {
  margin-bottom: 40px;
  text-align: center;
}
/* about */
.section-about {
  margin-bottom: 40px;
}

/* current */
.section-current {
  margin-bottom: 40px;
}

.divider {
  height: 4px;
  width: 160px;
  background: linear-gradient(to right, #00e0fe, #1107fe);
  margin: 16px auto;
}
/* Watchlist */
.watchlist .watchlist-img {
  position: relative;
}
.watchlist .watchlist-img .icon {
  width: 90px;
  height: 90px;
  background: linear-gradient(to right, #00e0fe, #1107fe);
  color: #fff;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -45px;
  left: 50px;
  transform: translateX(120%);
}
.watchlist .watchlist-img .icon i {
  font-size: 36px;
}
/* Upcoming */
.upcoming-section {
  background-image: url(../images/cover2.jpg);
}
.feature i {
  background: linear-gradient(#00e0fe, #1107fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 54px;
}
/* contact-us */
.contact-us {
  color: #fff;
  background-image: url(../images/cover3.png);
}
form .form-control {
  border-radius: 0;
  background-color: transparent;
  border-color: rgb(255, 255, 255, 0.5);
}

form .form-control:focus {
  color: #fff;
  background: transparent;
  border-color: #fff;
}
form input .form-control {
  height: 54px;
}

form .form-control::placeholder {
  color: #fff;
}
.icons {
  display: flex;
  justify-content: end;
}
.icons img {
  width: 100%;
}
footer {
  background: linear-gradient(to right, #00e0fe, #1107fe);
  color: #fff;
}
footer a {
  color: #fff;
}
/* about us */
.about-text {
  color: #fff;
  margin-top: 5%;
}
.aboutImg {
  margin-top: auto;
}
.aboutImg img {
  border-radius: 20px;
}
.overlay-about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/cover3.jpg);
  z-index: -1;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
}
