body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

section {
  padding: 80px 0;
}

.navbar {
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

/* HERO */
.hero {
  height: 100vh;
  background: url('../images/garba-crowd-gta.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
}

.hero .container {
  position: relative;
  z-index: 2;
}

.hero h1 {
  font-size: 3rem;
}

/* BUTTON */
.btn-main {
  background: linear-gradient(to right, #1107fe, #00e0fe);
  border: none;
  border-radius: 50px;
  color: white;
  padding: 12px 28px;
}

/* SERVICES */
.service-box {
  background: #f8f9fa;
  padding: 25px;
  border-radius: 10px;
  transition: 0.3s;
}

.service-box:hover {
  transform: translateY(-5px);
}

/* EVENTS */
#events img {
  height: 250px;
  object-fit: cover;
  transition: 0.3s;
}

#events img:hover {
  transform: scale(1.05);
}

/* CTA */
.cta {
  background: linear-gradient(to right, #000, #1107fe);
}

/* FOOTER */
footer {
  background: #000;
  color: white;
  padding: 20px;
}
